.Button-container {
    color: white;
    font-weight: bold;
    background-color: red;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
}

.Button-container:hover {
    color: rgb(206, 206, 206);
    background-color: rgb(185, 0, 0);
    cursor: pointer;
}

.Button-container:active {
    background-color: rgb(135, 0, 0);
}